{% extends 'base.html' %}
{% block title %}

	Homepage - {{ block.super }}
{% endblock title %}



{% block content %}
	<h3> Aspiring Data Scientist and Activist </h3>
		<p> It's my first website built with Django/HTML5/CSS.
			<br>
			I want to use this space to showcase future work utilizing Python with open sourced data. My interests are on human rights and the environment, so I would be focusing on those themes. Please subscribe to my Medium Blog on my Contact Page!
		 </p>
{% endblock content %}