{% load static %}
<!DOCTYPE html>
<html lang="en">

  <head>
  <!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-126628781-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-126628781-1');
</script>



    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Monica Puerto - Blog - Homicides in District of Columbia increase in 2018</title>

    <!-- Bootstrap core CSS -->

    <link href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">

    <!-- Custom fonts for this template -->
    <link href="{% static 'vendor/font-awesome/css/font-awesome.min.cs' %}s" rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>

    <!-- Custom styles for this template -->
    <link href="{% static 'css/clean-blog.min.css' %}" rel="stylesheet">
<script type='text/javascript' src='//platform-api.sharethis.com/js/sharethis.js#property=5bac38999c489500119f5cb4&product=sticky-share-buttons' async='async'></script>

  </head>

  <body>

    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
      <div class="container">
    <!--     <a class="navbar-brand" href="index.html">Start Bootstrap</a> -->
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          Menu
          <i class="fa fa-bars"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
           <li class="nav-item">
              <a class="nav-link" href="{% url 'home'%}">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'about'%}">About</a>
            </li>
          <!--   <li class="nav-item">
             <a class="nav-link" href="post.html">Blog</a>
            </li> -->
            <li class="nav-item">
               <a class="nav-link" href="{% url 'contact' %}">Contact</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <!-- Page Header -->
    <header class="masthead" style="background-image: url({% static 'img/homicides.jpg' %})">
      <div class="overlay"></div>
      <div class="container">
        <div class="row">
          <div class="col-lg-8 col-md-10 mx-auto">
            <div class="post-heading">
              <h1>Homicides in District of Columbia increase in 2018</h1>
              <span class="meta">Posted
                <!-- <a href="#">Start Bootstrap</a> -->
                on September 25, 2018</span> <span class="meta">Updated
                <!-- <a href="#">Start Bootstrap</a> -->
                on Octovber 2, 2018</span>
            </div>
          </div>
        </div>
      </div>
    </header>

    <!-- Sharing Buttons -->
    <div class="sharethis-inline-share-buttons"></div>
    <!-- Post Content -->
    <article>
      <div class="container">
        <div class="row">
          <div class="col-lg-8 col-md-10 mx-auto">

            <p>What contributes to homicides occuring more frequently in one place versus another? About a week ago, a young woman named Wendy Martinez made the headlines by being fatally stabbed in Ward 2. This instance marked the 3rd homicide in that Ward so far in 2018, with only 1 homicide occuring in 2017. I work a few blocks away where Wendy was fatally attacked. I and many of my peers were shocked; because that area is mostly regarded as a safe area to walk around at night. </p>

            <p>I then wondered, how many other homicides have occured in that area and how does that compare to other Wards in DC. DC had this data readily available at <a href = "http://opendata.dc.gov/"> opendata.dc.gov </a>, in the form of crime data sets for each year and year to date. I then downloaded the shapefiles for GIS and the spreadsheets for analysis. I plotted the 2018 homicides and 2017 homicide observations' locations from the crime datasets on the map below in red and black respectively. Wendy's data point was already part of the 2018 dataset when I pulled it which is marked via a pin. I then added Ward barriers and noticed right away, that Ward 8 definitely has the most homicides out of all the other Wards, and there is just as many homicides year to date 2018 versus 2017. </p>

    <style>.embed-container {position: relative; padding-bottom: 80%; height: 0; max-width: 100%;} .embed-container iframe, .embed-container object, .embed-container iframe{position: absolute; top: 0; left: 0; width: 100%; height: 100%;} small{position: absolute; z-index: 40; bottom: 0; margin-bottom: -15px;}</style><div class="embed-container"><iframe width="500" height="400" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" title="DC Homicides 2018 v 2017 Unemployment Rate" src="//www.arcgis.com/apps/Embed/index.html?webmap=b11c9b4ae4fe43cfa52fa3eedc6f71e1&extent=-77.2076,38.8076,-76.8791,38.9658&zoom=true&previewImage=false&scale=true&legend=true&disable_scroll=true&theme=dark"></iframe></div>

        <p> Note that you can access the legend via the arrows in the left hand corner. The dots are homicides incidents color coded by year, with 2018 labeled in red and 2017 labeled in black. The Wards' blue scale gradient is based of unemployment rate with Ward 8 having the highest unemployment rate. <p>

        <p>It is no suprise that areas with high unemployment rate and go hand in hand with crime. Ward 8 has a median household income of $30K and an unemployment rate of 22.9 which is almost 6x higher than the national average unemployment rate of 3.9. There is a vast difference when we compare to Ward 3 and 2 which have a lower unemployment rate than the national average and enjoy a median household income over $100K. </p>

        <p>I wanted to dig into the data more and see what other findings I could find from the same datasets that fed my map above.

        The preferred methods of Homicides in DC is by gun; which is not suprising with the gun regulation in our country, which is a whole other post. There is also an increase with gun homicides year to date versus the other methods compared to 2017. Who knows if it's easier access to guns or more people who have guns are getting involved with crime, or people are shooting more frequently. 
          <br>
        <img src="{% static 'img/Homicide_Methods.png' %}" alt="Smiley face" height="400" width="600">
        <br>
        When we see the homicides by year and by ward; we see the similar increase from the last graph isolated in Ward 8. Most of the increased homicide occured in Ward 8, while Ward 5 & 7 decreased. Did crime activity from those wards move towards Ward 8 since they are the closest areas with the most crime after Ward 8? In the third graph, we see homicides by method, ward, and year ; 2018 in Ward 8 via guns is the highest bar in this graph almost reaching 50 incidents whereas in 2017 it was a little over 30. That means gun homicides in Ward 8 almost doubled and in 2018 we are seeing a little over 5 homicides per month there with guns alone....

        <img src="{% static 'img/Homicide_WARDS.png' %}" alt="Smiley face" height="400" width="600">

         <img src="{% static 'img/Homicide_Methods_WARDS.png' %}" alt="Smiley face" height="400" width="600">
        <br>
        <br>

         The last data point I wanted to analyze involved merging the Ward dataset which has census information with the homicide incidents. I used <a href="https://seaborn.pydata.org/examples/many_pairwise_correlations.html">seaborn's correlation matrix with a heatmap </a>  to visualize relationships between data points. I aggregated the counts of homicides per ward per year and appended it to the Ward data set in order to get the correlation between the census data and homicide incidents. Homicide frequency is the last row in the correlation matrix below. Things that stood out to me:

         <ul>
           <li>Homicide's have a high positive correlation with unemployment rate at .87 (the max correlation you can have is 1). This is to say as unemployment rate increases so does homicides.</li>

           <li>Homicide's have a high positive correlation with percent below poverty at .97. This is to say as poverty rate increases so does homicides. So Wards with low poverty also have low unemployment rates like Wards 2,3,4, and 6 see little to no crime. Which is why one of the reasons Wendy's homicide made the headlines; because it was shocking to hear homicides in that area. Whereas homicides in Ward 8 and 7 are more frequent but don't make the headline news.</li>

            <li> Some correlations that are high and negative; which means as one increases the other decreases are population over 25 who graduate and median house hold income. As the percentage of people who live in an area receive and finish their education; homicides decrease. Also as household income increases, homicides decrease. </li>
         </ul>

         <img src="{% static 'img/CORR.png' %}" alt="Smiley face" height="800" width="900">
         <br>
         <br>

         Now that you armed with all this information please take a second to share this information with others. Feel free to share this also via the twitter share button above to @MayorBowser. 
         <br>
         We need to do better as a community because it clearly can affect all of us and secondly, we don't choose what families we are born into. Families who are surrounded by poverty, high unemployment rates, and low graduation rates typically have low income levels and resort to crime. All Wards should have access to the resources and opportunities that they need. Humanity should transcend over Ward lines. 

         <br>
         <br>

        
          <a href="https://github.com/monipip3/activism/blob/master/DC_Homicides/DC%20Homicides.ipynb"> To see the work done in this article please visit my Github where the datasets and <u>Jupyter notebook</u> resides. This work was 100% done by me. </a>

         </p>

            
          </div>
        </div>
      </div>
    </article>

    <hr>


    <!-- Footer -->
    <footer>
      <div class="container">
        <div class="row">
          <div class="col-lg-8 col-md-10 mx-auto">
            <ul class="list-inline text-center">
              <li class="list-inline-item">
                <a href="https://twitter.com/monipip3">
                  <span class="fa-stack fa-lg">
                    <i class="fa fa-circle fa-stack-2x"></i>
                    <i class="fa fa-twitter fa-stack-1x fa-inverse"></i>
                  </span>
                </a>
              </li>
              <li class="list-inline-item">
                <a href="https://medium.com/@monipip3">
                  <span class="fa-stack fa-lg">
                    <i class="fa fa-circle fa-stack-2x"></i>
                    <i class="fa fa-medium fa-stack-1x fa-inverse"></i>
                  </span>
                </a>
              </li>
              <li class="list-inline-item">
                <a href="https://github.com/monipip3">
                  <span class="fa-stack fa-lg">
                    <i class="fa fa-circle fa-stack-2x"></i>
                    <i class="fa fa-github fa-stack-1x fa-inverse"></i>
                  </span>
                </a>
              </li>
            </ul>
            <p class="copyright text-muted">Copyright &copy; monicapuerto.com 2018</p>
          </div>
        </div>
      </div>
    </footer>

    <!-- Bootstrap core JavaScript -->
    <script src="{% static 'vendor/jquery/jquery.min.js' %}"></script>
    <script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>

    <!-- Custom scripts for this template -->
    <script src="{% static 'js/clean-blog.min.js' %}"></script>

  </body>

</html>
